alembic==0.8.2
Mako==1.2.2
mccabe==0.3.1
pecan==1.3.3
psycopg2-binary==2.8.6
pytz==2015.6
requests==2.20.0
simplegeneric==0.8.1
SQLAlchemy==1.3.0
tzlocal==1.2
WebTest==2.0.18
gunicorn==20.0.4
python-statsd==2.0.0
mock==2.0.0
pytest==6.2.4
sentry-sdk==1.3.1
